@model Veritas.Entities.AreaMaster

@{
    ViewBag.Title = "ViewDetails";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">View <b> @Model.AreaName </b> Details</h3>

        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> Area Name </div>

                <div class="profile-info-value">
                    <span id="companyName">@Model.AreaName</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> City </div>

                <div class="profile-info-value">
                    <span id="remarks">@Model.CityName</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Pincode </div>

                <div class="profile-info-value">
                    <span id="remarks">@Model.PinCode</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> Remarks </div>

                <div class="profile-info-value">
                    <span id="remarks">@Model.Remarks</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Discontinue </div>

                <div class="profile-info-value">
                    <input id="prodDiscontinue" class="ace ace-switch ace-switch-3" type="checkbox" checked="@Model.Discontinue" disabled="disabled" />
                    <span class="lbl" data-lbl="YES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                </div>
            </div>
        </div>
        <br />

        <div class="clearfix">
            <div class="col-md-offset-3 col-md-9">
                <a class="btn btn-info2" href="/AreaMaster/Edit/@Model.AreaIndex" id="btnEdit">
                    <i class="ace-icon fa fa-pencil bigger-110"></i>
                    Edit
                </a>
                &nbsp; &nbsp; &nbsp;
                <a class="btn" href="/AreaMaster/Index">
                    <i class="ace-icon fa fa-backward bigger-110"></i>
                    Back
                </a>
            </div>
        </div>

    </div>
</div>